<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-gray-200 text-gray-600 max-w-screen-sm">
    <img src="assets/drone-selfie.jpg">
    <div class="p-6 text-sm mb-10">
      <p class="mb-3">Hi, I'm Peter.</p>
      <p class="mb-3">I'm currently studying and (mostly) enjoying Software Development at <a href="http://www.gmit.ie">GMIT</a>.</p>
      <p class="mb-3">Things I'm interested in right now include: <a href="https://svelte.dev">Svelte</a> (alternative to Angular/React/Vue) and <a href="https://tailwindcss.com">TailwindCSS</a> (utility based styling system).</p>
    </div>
  </div>
</ion-content>
