<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-select (ionChange)="setListings()" placeholder="Select County" [(ngModel)]="county">
      <ion-select-option *ngFor="let countyName of counties" value="{{countyName}}">{{countyName}}</ion-select-option>
    </ion-select>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button [selected]="isSelected(1)" (click)="setRecordType(1)">
          <ion-icon name="people"></ion-icon>
          <ion-label>Activities</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [selected]="isSelected(2)" (click)="setRecordType(2)">
          <ion-icon name="home"></ion-icon>
          <ion-label>Accommodation</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [selected]="isSelected(3)" (click)="setRecordType(3)">
          <ion-icon name="compass"></ion-icon>
          <ion-label>POI</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mapID" style="width: 100%; height: 250px; position: fixed; z-index: 10"></div>

    <ion-list style="margin-top: 250px;">
      <ion-item *ngFor="let result of Results; index as i" (click)="toggleDetails(i, result)">
        <ion-label>
          <h2>{{ result.name }}</h2>
          <h3>{{ result.address.addressLocality }}</h3>
          <div *ngIf="activeID == i" class="">
            <a href="tel:{{ result.telephone }}" class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-2 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 3h5m0 0v5m0-5l-6 6M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z" />
              </svg>
              {{ result.telephone }}
            </a>
            <a href="{{ result.url }}" class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-2 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
              </svg>
              {{ result.url }}
            </a>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

    
    <div class="p-4 text-sm">
      <ion-button expand="block" (click)="updateListings()">Refresh Listings</ion-button>
      <p class="text-center" *ngIf="!county">Please select a county below.</p>
      <p class="text-center" *ngIf="!recordType">Select a listing type below.</p>
    </div>


</ion-content>

<ion-footer [translucent]="true">
  <hr/>
  <ion-toolbar>
    <ion-select (ionChange)="setListings()" placeholder="Select County" [(ngModel)]="county">
      <ion-select-option *ngFor="let countyName of counties" value="{{countyName}}">{{countyName}}</ion-select-option>
    </ion-select>
  </ion-toolbar>
  <ion-toolbar>

      <ion-tab-bar>
        <ion-tab-button [selected]="isSelected(1)" (click)="setRecordType(1)">
          <ion-icon name="people"></ion-icon>
          <ion-label>Activities</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [selected]="isSelected(2)" (click)="setRecordType(2)">
          <ion-icon name="home"></ion-icon>
          <ion-label>Accommodation</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [selected]="isSelected(3)" (click)="setRecordType(3)">
          <ion-icon name="compass"></ion-icon>
          <ion-label>POI</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

  </ion-toolbar>
</ion-footer>