<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Technical Details</ion-title>
  </ion-toolbar>
</ion-header>

<!-- this page uses standard ionic components -->

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>HTTP API</ion-card-subtitle>
      <ion-card-title>Failte Ireland</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>The app queries one of three Failte Ireland API endpoints, depending on the type of resource requested.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Map library</ion-card-subtitle>
      <ion-card-title>Leaflet</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Leaflet is an open source javascript library for mobile-friendly interactive maps.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ionic Native Plugin</ion-card-subtitle>
      <ion-card-title>Geolocation</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>The app uses the geolocation plugin to locate users on the map.</p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Additional style system</ion-card-subtitle>
      <ion-card-title>TailwindCSS</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>In addition to ionic components, Tailwind was used to create some custom layouts.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Misc</ion-card-subtitle>
      <ion-card-title>Other Details</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p style="display: block; margin-bottom: 8px">The app was built using the Ionic CLI, using Angular as the framework, and attempts to follow the submission guidelines.</p>
      <p style="display: block; margin-bottom: 8px">It additionally integrates a MapBox map using the Leaflet javascript library, which displays results from a Failte Ireland API. The API functionality is housed in an Angular service. Placing markers and flying to different locations is handled in typescript or javascript using the Leaflet API. Data flows unidirectionally from the list to the map... it could be further improved by adding click bindings to the map markers, so that the list would update when a marker was tapped.</p>
      <p style="display: block; margin-bottom: 8px">Tailwind CSS was used in places as I find it easier to work with than regular CSS/SCSS. It may appear to clutter the markup but I think the tradeoff is worth it.</p>
      <p style="display: block; margin-bottom: 8px">For more information see code comments.</p>
    </ion-card-content>
  </ion-card>
</ion-content>